{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <br>
                {% include 'nav.html' %}
                <HR style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 size=1>
                <br>
                <div class="col-md-12">
                    <br>
                    <form role="form" class="form-inline" id="register" method="get">

                        <div class="form-group">
                            <label>
                                工号
                            </label>
                            &nbsp;&nbsp;
                            <input type="text" name="jobNumber" class="form-control" value="{{ key_job_number }}"
                            />
                        </div>
                        &nbsp;&nbsp;
                        <div class="form-group">
                            <label>
                                姓名
                            </label>
                            &nbsp;&nbsp;
                            <input type="text" name="name" class="form-control" value="{{ key_name }}"/>
                        </div>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                    <br>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>
                                工号
                            </th>
                            <th>
                                姓名
                            </th>
                            <th>
                                手机号
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for person in paginate.items %}
                            <tr>
                                <td>
                                    {{ person.jobNumber }}
                                </td>
                                <td>
                                    {{ person.name }}
                                </td>
                                <td>
                                    {{ person.phone }}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="text-center">
                        {% if paginate.has_prev %}
                            <a href="/searchPerson?page={{ paginate.prev_num }}&name={{ key_name }}&jobNumber={{ key_job_number }}">上一页</a>
                        {% endif %}

                        {% for i in paginate.iter_pages() %}

                            {% if i == paginate.page %}

                                {{ i }}

                            {% else %}
                                <a href="/searchPerson?page={{ i }}&name={{ key_name }}&jobNumber={{ key_job_number }}">
                                    {% if not i %}
                                        ...
                                    {% else %}
                                        {{ i }}
                                    {% endif %}
                                </a>
                            {% endif %}

                        {% endfor %}

                        {% if paginate.has_next %}
                            <a href="/searchPerson?page={{ paginate.next_num }}&name={{ key_name }}&jobNumber={{ key_job_number }}">下一页</a>
                        {% endif %}
                    </div>
                </div>


            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
{% endblock %}


