{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <br>
                {% include 'nav.html' %}

                <HR style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 size=1>
                <br>
                {% if tip %}
                    <div style="color: red">{{ tip }}</div>
                {% else %}

                {% endif %}
                <br>
                <div class="col-md-12">
                    <form role="form" id="updatePwd" method="POST">
                        <div class="form-group">

                            <label>
                                密码
                            </label>
                            <input type="password" name="mm" class="form-control"/>
                        </div>
                        <div class="form-group">

                            <label>
                                新密码
                            </label>
                            <input type="password" name="xmm" class="form-control"/>
                        </div>
                        <div class="form-group">

                            <label>
                                确认密码
                            </label>
                            <input type="password" name="qrmm" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            修改密码
                        </button>

                    </form>

                </div>


            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
{% endblock %}


